body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  font-size: 30px;
  margin-top: 2%;
}

button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  background: #fcd720;
  color: #e30922;
  border: solid 1px black;
  text-decoration: none;
  cursor: pointer;
  font-size: .55em;
  font-family: sans-serif;
  padding: 10px 6px;
  width: 140px;
  margin: 10px;
  outline: none;
  margin-left: 25px;
}

button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: red;
  border: solid 1px #fff;
  color: black;
}

h3 {
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;
/*	text-shadow: 2px 2px aqua;
	margin: 5px 50px 5px 50px;*/
}

h4 {
  font-family: 'Prompt', sans-serif;
  text-align: left;
  white-space: nowrap;
}

img{
	padding-top: 10px;
}

#charselect {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px aqua;
  margin: 55px 50px 5px 50px;
  color: black;
}

#charSel {
	margin-left: 70px;
  font-family: 'Bungee Shade', cursive;
}

#enemy {
  text-align: center;
  padding: 5px;
}

#fight {
	display: -webkit-box;
  margin-top: 20px;
}

#myHp {
  font-family: 'Orbitron', sans-serif;
  color: black;
  text-align: left;
}

#opponentHp {
  color: red;
}

#opponent {
  margin-left: 115px;
}

#resetbutton {
  align
}

#sticker {
  width: auto;
  color: red;
  text-shadow: 2px 2px #fcd720;
  margin: 0px 0px 0px 0px;
  font-size: 25px;
}

#ticker {
  width: auto;
  color: red;
  text-shadow: 2px 2px #fcd720;
  margin: 0px 0px 0px 0px;
  font-size: 25px;
}

#updater {
  margin-top: 75px;
}

.char {
  height: 130px;
  width: 150px;
  border-radius: 5px;
  background-color: #69D2E7;
  text-align: center;
  color: black;
  font-family: Verdana, Arial, Sans-Serif;
  margin: 3px;
  font-size: 10px;
  border: solid 1px black;
}

.center {
  text-align: center;
}

.characters {
	display: inline-flex;
	margin-left: 70px;
}

.selection {
	color: aqua;
	margin-left: 50px;
  padding: 5px;
  margin: 5px 50px 5px 50px;
}

.buttons{
  margin: 20 0 20px 70px;
}

.score {
  width: 250px;
  height: 50px;
  padding: 15px;
  border-radius: 50% / 10%;
  background-color: #fcd720;
  box-shadow: 5px 5px black;
  font-family: 'Slabo 27px', serif;
  float: right;
  bottom: 200px;
  text-align: right;
  font-size: 25px;
  position: fixed;
  right: 110px;
  border: solid 1px black;
}

.yada {
	margin-left: 0px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#yoChar {
  text-shadow: 2px 2px black;
}


.x {
  color: black;
  text-shadow: 1px 1px aqua;
  margin: 5px 50px 5px 50px;
}

